.talker-chat-area {
  .single-message {
    margin-top: 5px;
    border-bottom: 1px solid #ededed;

    &:first-child {
      margin-top: 0;
    }

    .main {
      display: flex;

      .message-content {
        font-size: 12px;
        flex: 1;
        border-radius: 3px;
        padding: 2px;

        &.incoming {
          background-color: #008B8B;
          color: #FEFEFE;
        }

        &.outgoing {
          background-color: #7AE6C3;
          color: #003e00;
        }
      }
    }

    .footer {
      display: flex;

      .menu-filler {
        flex: 1;
      }

      .message-date{
        font-size: 11px;
        color: gray;
      }
    }
  }
}
