.talker-centered-part {
  display: flex;
  margin: auto;
  position: relative;
  flex: 1;
  width: 100%;

  .local-video {
    position: absolute;
    right: 0;
    bottom: -8px;
    background-color: black;
    width: 200px;
    margin: 0 8px;
  }
}
