.talker-chat-area {
  .message-content {
    font-size: 12px;
    flex: 1;
    border-radius: 3px;
    padding: 2px;

    &.incoming {
      background-color: #7AE6C3;
      color: #003e00;
    }

    &.outgoing {
      background-color: #008B8B;
      color: #FEFEFE;
    }
  }
}
